canvas {
	width: 100%;
	height: 100%;
	background: black;
}

#background {
	background: black;
	height: 100%;
	overflow: hidden;
}

#pos {
	margin-top: -650px;
}

body,
html {
	height: 100%;
	margin: 0;
}